<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>{% block top_title %}{% endblock %}</title>
</head>

<body>
  {% include "includes/header.html" %} 
  <main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      {% block form_title %}{%endblock %}
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          {% block form %}{% endblock %}
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <p class="text-center">
          <h5 class="text-center">
            {% block error %}{% endblock %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% elif short_links %}
                {% block short_links %}{% endblock %}
              {% endif %}
            {% endwith %}
          </h5>
          </p>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>
</main>
  {% include "includes/footer.html" %}
</body>
</html>